{% extends "base.html" %}

{% load static %}

{% block content %}

 <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Destination:
      <small>{{ category.title }}</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'tours:index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">{{ category.title }}</li>
    </ol>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">

    <!-- Destination Section -->
    <div class="row">
      {% if category %} 
        {% for t in programq %}
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <h4 class="card-header">{{ t.title }}</h4>
              <img src="{{ t.image_main.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="place_review">
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                </div>  
                <p class="card-text">Arrival Date :{{ t.arrival_date }}</p>
                <p class="card-text">Departure Date {{ t.departure_date }}</p>
                <p class="card-text">Hotel : {{ t.hotel_name }}</p>
                <p class="card-text">District : {{ t.district }}</p>
                <p class="card-text">City : {{ t.city }}</p>
                <p class="card-text">Destination : {{ t.destination.title }}</p>
            </div>
          <div class="card-footer">
            <a href="{{ t.get_absolute_url }}" class="btn btn-primary">More Details</a>
          </div>
            </div>
          </div>
      {% endfor %}
      {% endif %}
    </div>
    <!-- /.row -->

 
  <!-- /.container -->
{% endblock %}