{% extends "base.html" %}

{% load static %}

{% block content %}
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <!-- <ol class="carousel-indicators hidden-lg">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol> -->
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static "images/carousel-item-1.png" %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>First Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static "images/carousel-item-2.png" %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static "images/carousel-item-3.png" %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
 <!-- search part -->
  <div class="container">
    <form method="" class="form-in">
      <div class="form-row rom">
        <div class="form-group col-xs-12 col-sm-3">
          <select name="land" id="inputState" class="form-control" style="width: 100%;">
            <option selected>Choose Destination</option>
            {% for dest in destinations %}
              {% if destination.slug == dest.slug %}{% endif %}
                <option value="{{ dest.title }}" href="{{ dest.get_absolute_url }}">{{ dest.title }}</option>
            {% endfor %}
            
          </select>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
          <input type="date" class="form-control" style="width: 100%;" id="arrival_date" placeholder="Check in date">
        </div>
        <div class="form-group col-xs-12 col-sm-3">
          <input type="date" class="form-control" style="width: 100%;" id="Departure_date" placeholder="Check in date">
        </div>
        <div class="form-group col-xs-12 col-sm-3">
          <button type="submit" class="btn btn-primary form-control" style="width: 100%;">Search</button>
        </div>
      </div>  
    </form>
  </div>
  <div>
  
  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Top RoundTrip</h1>

    <!-- RoundTrip Section -->
    <div class="row">
      {% for program in programs %}
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">{{ program.title }}</h4>
          <!-- <span class="moveit">Descount</span> -->
          <img src="{{ program.image_main.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="place_review">
              {% if program.hotel_name.stars == 5 %}
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>
              {% elif program.hotel_name.stars == 4 %}    
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>
              {% elif program.hotel_name.stars == 3 %} 
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>     
              {% elif program.hotel_name.stars == 2 %}
                <a href="#"><i class="fas fa-star"></i></a>
                <a href="#"><i class="fas fa-star"></i></a>
              {% elif program.hotel_name.stars == 1 %}
                <a href="#"><i class="fas fa-star"></i></a>
              {% endif %}
            </div>  
            <p class="card-text">Arrival Date :{{ program.flight.arrival_date }}</p>
            <p class="card-text">Departure Date {{ program.flight.departure_date }}</p>
            <p class="card-text">Hotel : {{ program.hotel_name.title }}</p>
            <p class="card-text">District : {{ program.district }}</p>
            <p class="card-text">City : {{ program.city.title }}</p>
            <p class="card-text">Destination : {{ program.destination.title }}</p>
          </div>
          <div class="card-footer">
            <a href="{{ program.get_absolute_url }}" class="btn btn-primary">More Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
      
    <!-- /.row -->

    <!-- Hotels Section -->
    <h2>Top Hotels</h2>

    <div class="row">
      {% for hotel in hotels %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ hotel.image_main.url }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{ hotel.title }}</a>
              </h4>
              <p class="card-text">{{ hotel.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- /.row -->

<!-- Destination Section -->
    <h2>Top Destination</h2>

    <div class="row">
      {% for destination in destinations %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ destination.image_main.url }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{ destination.title}}</a>
              </h4>
              <p class="card-text">{{ destination.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- /.row -->

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
      </div>
    </div>

  </div>
  <!-- /.container -->
{% endblock %}
 






