{% extends "base.html" %}


{% block content %}

 <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item text-center">
                            <h2>Packages</h2>
                            <p>home . Packages</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <!-- breadcrumb end-->

 <!-- about us css start-->
    <section class="hotel_list section_padding single_page_hotel_list">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="section_tittle text-center">
                        <h2>Top Packages</h2>
                        <p>Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if programz %}
                    {% for progr in programz %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_ihotel_list">
                                <img src="{{ progr.image_main.url }}" width = "360" height = "260" alt="">
                                <div class="hover_text">
                                    <div class="hotel_social_icon">
                                        <ul>
                                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="share_icon">
                                        <i class="ti-share"></i>
                                    </div>
                                </div>
                                <div class="hotel_text_iner">
                                    <h3> <a href="{{ progr.get_absolute_url }}">{{ progr.title }}</a></h3>
                                    <div class="place_review">
                                        {% if progr.stars == 5 %}
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                        {% elif progr.stars == 4 %}    
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                        {% elif progr.stars == 3 %} 
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>     
                                        {% elif progr.stars == 2 %}
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                        {% elif progr.stars == 1 %}
                                            <a href="#"><i class="fas fa-star"></i></a>
                                        {% endif %}   
                                        <span>Hotel {{progr.hotel_name }}</span>
                                    </div>
                                    <p>{{ progr.destination }}, {{ progr.city }}, {{ progr.district }}</p>
                                    <p>Arrivale Date: {{ progr.arrival_date }}</p>
                                    <p>Departure Date: {{ progr.departure_date }}</p>
                                    <h5>From <span>LE {{progr.price_adt }}</span></h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}    
                {% else %}        
                    <div class="col-lg-4 col-sm-6">
                        <p>No RoundTrip Available</p>
                    </div>
                {% endif %}    
        </div>
    </section>
{% endblock  %}%}