{% extends "base.html" %}

{% block content %}
 <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item text-center">
                            <h2>Destination</h2>
                            <p>home . {{ destination.title }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- breadcrumb end-->

<!-- about us css start-->
    <section class="hotel_list section_padding single_page_hotel_list">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="section_tittle text-center">
                        <h2>{{ destination.title }}</h2>
                        <p>Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    {% if destination %} {{ destination.title}}{% endif %}
                    {% for t in program %}
                        <div class="single_ihotel_list">
                            <img src="img/ind/industries_1.png" alt="">
                            <div class="hover_text">
                                <div class="hotel_social_icon">
                                    <ul>
                                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="share_icon">
                                    <i class="ti-share"></i>
                                </div>
                            </div>
                            <div class="hotel_text_iner">
                                <h3> <a href="{{ t.get_absolute_url }}"> {{ t.title }}</a></h3>
                                <div class="place_review">
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <span>(210 review)</span>
                                </div>
                                <p>{{ t.city }}, {{ t.destination}}</p>
                                <p>Date: {{ t.arrival_date }}</p>
                                <p>Duration: 5 days</p>
                                <h5>From <span>LE {{t.price_adt }}</span></h5>
                            </div>
                    {% endfor %}    
                    </div>
                </div>
{% endblock content %}                