{% extends "base.html" %}

{% load static %}

{% block content %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Portfolio Item
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'tours:index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">{{ tour.title }}</li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-5">
        <h3 class="my-3">Trip Description</h3>
        <p>{{ tour.description }}</p>
        <h3 class="my-3">Trip Details</h3>
        <ul>
          <li>AirLine: {{ tour.flight.airline }}</li>
          <li>Arrival Date: {{ tour.flight.arrival_date }}</li>
          <li>Departure Date: {{ tour.flight.departure_date }}</li>
          <li>Adult Rate: LE {{ tour.price_adt }}</li>
          <li>First Child Rate: LE {{ tour.price_chd_one }}</li>
          <li>Second Child Rate: LE {{ tour.price_chd_two }}</li>
          <li>Baby Rate: LE {{ tour.price_inf }}</li>
          <li>Flight Details {{ tour.flight_detail }}</li>
        </ul>
      </div>

      <div class="col-md-7">
        <img class="img-fluid" src="{{ tour.image_main.url }}" alt="" data-lightbox="{{ tour.image_main.url }}">
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>

    <div class="row">

      <div class="col-md-2 col-sm-6 mb-4">
        <a href="{{ tour.image_1.url }}" data-lightbox="example-set">
          <img class="img-fluid" src="{{ tour.image_1.url }}" alt="">
        </a>
      </div>

      <div class="col-md-2 col-sm-6 mb-4">
        <a href="{{ tour.image_2.url }}" data-lightbox="example-set">
          <img class="img-fluid" src="{{ tour.image_2.url }}" alt="">
        </a>
      </div>

      <div class="col-md-2 col-sm-6 mb-4">
        <a href="{{ tour.image_3.url }}" data-lightbox="example-set">
          <img class="img-fluid" src="{{ tour.image_3.url }}" alt="">
        </a>
      </div>

      <div class="col-md-2 col-sm-6 mb-4">
        <a href="{{ tour.image_4.url }}" data-lightbox="example-set">
          <img class="img-fluid" src="{{ tour.image_4.url }}" alt="">
        </a>
      </div>
      <div class="col-md-2 col-sm-6 mb-4">
        <a href="{{ tour.image_5.url }}" data-lightbox="example-set">
          <img class="img-fluid" src="{{ tour.image_5.url }}" alt="">
        </a>
      </div>

      <div class="col-md-2 col-sm-6 mb-4">
        <a href="{{ tour.image_6.url }}" data-lightbox="example-set">
          <img class="img-fluid" src="{{ tour.image_6.url }}" alt="">
        </a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}

