{% extends "base.html" %}

{% block content  %}
    <!--event_part start-->
    <section class="event_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="event_slider_content">
                                <h5>Package Details</h5>
                                <h2>{{ tour.city }} - {{ tour.destination}}</h2>
                                <p>Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.
                                </p>
                                <p>date: <span>{{ tour.arrival_date }}</span> </p>
                                <p>Cost: <span>Start from LE {{ tour.price_adt }}</span> </p>
                                <p>Airline: <span>{{ tour.flight }}</span> </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <img src="{{ tour.image_main.url }}" width = "555" height = "396" alt="Image places">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--event_part end-->
    <!-- Show thumb Program-->
    <section class="tour_details_content section_padding">
        <div class="container">    
             <div class="row mb-5 thumbs">
                <div class="col-md-2">
                    <a href="{{ tour.image_1.url }}" data-lightbox="home-images">
                        <img src="{{ tour.image_1.url }}" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{{ tour.image_2.url }}" data-lightbox="home-images">
                        <img src="{{ tour.image_2.url }}" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{{ tour.image_3.url }}" data-lightbox="home-images">
                        <img src="{{ tour.image_3.url }}" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{{ tour.image_4.url }}" data-lightbox="home-images">
                     <img src="{{ tour.image_4.url }}" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{{ tour.image_5.url }}" data-lightbox="home-images">
                        <img src="{{ tour.image_5.url }}" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{{ tour.image_6.url }}" data-lightbox="home-images">
                     <img src="{{ tour.image_6.url }}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- tour details content css start-->
    <section class="tour_details_content section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="content_iner">
                        <p>{{ tour.flight_detail }}</p>
                        <p>{{ tour.description }}</p>
                        <div class="tour_details_content_btn">
                            <a href="#" class="btn_1">Book Trip</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tour details content css end-->
{% endblock  %}